*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
nav #links{ /*this puts github and linkedin into a row*/
    display: flex;
    justify-content: space-evenly;
    background-color: #5ae1f3c7;
    flex-flow:row wrap;
    gap: 11px;
    
}
#welcome{/*this changes the weclome id adding color to the border and such*/
    display: flex;
    align-items: center;
    background-color: rgb(2, 2, 2);
    padding: 2px 1px;
    justify-content: space-between; 
    

    color: rgb(255, 255, 255);
}



#links{/*this puts the entire container into a row (it will move the #links over but keep in a column)*/
    display: flex;
    
    
}
nav #links a{/*this removes the underline for github and linkedin*/
    text-decoration: none;
    display: block;
}

nav #links li{/*this removes the dots from the list for the github and linkedin*/
    list-style-type: none;
   
    
}
#github{/*changes github tag*/
    padding: 1em 10em;
    margin-bottom: -16px;
    font-weight: 700;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 20px; 
    border-width: 5px;
    border-top-width: 1px;
    border-bottom: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0); 
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

nav #links a:hover{
    background-color: chartreuse;
}

#linkedin{/*changes linkedin tag*/
    padding: 1em 10em;
    font-weight: 700;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 20px;
    border-width: 5px;
    border-top-width: 1px;
    border-bottom: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    margin: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#clock{
    
    font-size: 20px;
    font-weight: bold;
    
}
#info{
    
}
.main-content #info{
    display: flex;
    
}
#info #profile-pic{
    height: 300px;
}

#spacing-about-me{
    display: flex;
    flex-flow: row;
    gap: 1;
    flex-grow: 1;
    width: 100%;
    justify-content: space-evenly;
    height: 350px;
    
   
}

#about-me-contact{

    flex-grow: 1;
   
    justify-content: left;
    max-height: 0px;
}
#about-me-contact h2{
    max-width: 200px;
    display: flex;
    margin-left: 20px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: left;
    flex-flow: row wrap;
    margin-top: 15px;   
    text-decoration: underline; 
}

#about-me-contact h3 {
   
   
   max-height: 50px;
   margin-top: 20px;
   margin-left: 20px;
   text-decoration:underline;

}
#about-me-contact p{
    display: flex;
    border-bottom: 5px;
    flex-flow: row wrap;
    margin-left: 20px;
    /* align-items: center;
    justify-content: center; */
}


.main-content #profile-pic img{
    padding: 0px 0px 0px 0px;
    max-width: 250px;
    justify-content: left;
    border-style: solid;
    border-width: 8px;
    align-items: center;
}

#work{
   
    flex-grow: 1;
    
    justify-content: left;
    max-height: 70px;
}

#work h2{

    padding-bottom: 10px;
    max-width: 200px;
    display: flex;
    text-decoration: underline;
    margin-bottom: 5px;
    align-items: center;
    justify-content: left;
    flex-flow: row wrap;
    margin-top: 15px;  
   
    
}
#work .jobs{
    display: flex;
    flex-flow: wrap;
   
    
}






#skills{
   
    flex-grow: 1;
    justify-content: left;
    max-height: 70px;
}

#skills h2{
    text-decoration: underline;
    max-width: 200px;
    display: flex;
    
    margin-bottom: 10px;
    align-items: center;
    justify-content: left;
    flex-flow: row wrap;
    margin-top: 15px;  
}
 #skills #skills-list li{
    display: flex;
    flex-flow:row wrap;
    
    
    
}

.more-info{
    
    display: flex;
    
    align-items: center;

    
    flex-flow:  column wrap;
   
   

}
#elevator-pitch{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    max-height: 50px;
    padding-bottom: 50px;
    padding-top: 10px;
    
}
.more-info {
    padding-left: 10px;
}
/* .more-info p{
    display: flex;
    justify-content: baseline;
    flex-flow: wrap;
    max-width: 770px;
    font-size: larger;
    flex-flow: wrap;

} */
footer{
    display: flex;
    justify-content: center;
    width: 100%;
}
#date{
    font-size: 90px;
    animation: flashy 5s infinite;
}


@keyframes flashy {
    0%{
        color: blue;
    }
    
    25%{
       color: chartreuse;
    }
    50%{
        color: crimson;
    }
    75%{
        color: darkorchid;
    }
    100%{
        color: blue;
    }
}






/*this adjusts the linked in for phone screen*/


 @media screen and (max-width:960px) and (orientation: portrait){
    footer{
        margin-top: 20px;
        display: flex;
         
        justify-content : right;
        width: 85%;
    }
    #date{
        font-size: 25px;
       
    }
    /* #date:hover{
        
       animation: flashy 5s infinite;

    
    } */

    

    #spacing-about-me{
        display: flex;
        flex-flow: column;
        width: 100%;
        justify-content: space-evenly;
        height: 500px;
        
       
    }
    #elevator-pitch{
        
        padding-left: 0px;
        
    }
    .more-info {
        
    }
nav #links{
    width: 92.5%;
}
    #welcome{
        width: 92.5%;
      
    }
    #profile-pic img{
        width: 300%;
    }
    
    #info p{
        padding-top: 20px;
        font-size: 12px;
        margin-left: 10px;
        width: 150px;
    }
    #info div{
        height: 200px;
        width: 30%;
    }
    .main-content{
        max-height: 300px ;
    }
    #github{
        
        padding-left: 6.4em;
    }
    #linkedin{
        padding-left: 6em;
    }
    



   .more-info #elevator-pitch h2{
   display: flex;
   justify-content: center;
   flex-flow: wrap;
   
   width: 147px ;      
   }
   #about-me-contact h2{
    margin-left: 2px;
   }
   #about-me-contact h3{
    margin-left: 2px;
   }
   #about-me-contact p{

    margin-left: 2px;
   }
    #linkedin{
        border-top-width: 5px;
    }
    #work{
        display: flex;
        flex-flow: column;
        padding-top: 150px;
        margin-left: 2px;
        padding-bottom: 50px;
    }
    #skills{
        display: flex;
        flex-flow: column;
        padding-top: 160px;
        margin-left: 2px;
        
    }

 }
 
 @media screen and (max-width: 960px) and (orientation: landscape) {
    #welcome{
        width: 768px;
    }
    nav #links{
        width: 765px;
    }
    #spacing-about-me{
        width: 130%;
    }
    #info{

        width: 110%;
    }
    #info p{
        margin-left: 10px;
    }
}
